---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-python-blue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-python-blue
  template:
    metadata:
      labels:
        app: hello-python-blue
        owner: maplelabs
    spec:
      containers:
      - name: hello-python
        image: gmanal1005/hello-python:blue
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
