---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-python-green
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-python-green
  template:
    metadata:
      labels:
        app: hello-python-green
    spec:
      containers:
      - name: hello-python
        image: gmanal1005/hello-python:green
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
